<div class="main-content">
  <h3>Integrated Repos vs. Package-Based Repos vs. Standalone Apps!</h3>
</div>

<div>
  <ul>
    <li>
      <b>Standalone Application: </b>A repository with a single application
    </li>
    <li>
      <b>Package-Based Repository:</b>A repository with multiple projects that
      depend on each other via package.json and often have nested node_modules
    </li>
    <li>
      <b>Integrated Repository: </b> A repository with multiple projects that
      depend on each other via typescript imports and often employ a single
      version policy
    </li>
  </ul>
</div>
