<h2>List all Products</h2>
<button routerLink="add">+</button>
<ul *ngIf="products1$ | async as products1">
  <li class="text" *ngFor="let product of products1" data-test="show-subs">
    <img
      [src]="product.url"
      *ngIf="product.url"
      style="width: 24px; height: 24px"
    />
    <span>{{ product.name }} -- {{ product.id }}</span>
    <button (click)="deleteProduct(product)">Delete</button>
  </li>
</ul>

<ul *ngIf="pr2Store$ | async as pr2Store">
  <div data-test="settings-data"></div>
</ul>
