<div class="exp-1">
<div class="request-box">
  <p>Do you want to accept the request or reject?</p>
  <div class="button-container">
    <button class="accept-button">Accept</button>
    <button class="reject-button">Reject</button>
  </div>
</div>
</div>

<!--<div class="exp-2">-->
<!--  <div class="item full-span">Full-Width Header (1 / -1)</div>-->
<!--  <div class="item">1</div>-->
<!--  <div class="item">2</div>-->
<!--  <div class="item">3</div>-->
<!--  <div class="item">4</div>-->
<!--  <div class="item">5</div>-->
<!--  <div class="item">6</div>-->
<!--  <div class="item full-span">Full-Width Footer (1 / -1)</div>-->
<!--</div>-->


<!--<div class="exp-3">-->
<!--  <nav>Navbar</nav>-->
<!--  <aside>Sidebar</aside>-->
<!--  <main>Main Content</main>-->
<!--  <footer>Footer</footer>-->
<!--</div>-->


<div class="exp-4">
  <div class="item">1</div>
  <div class="item">2</div>
  <div class="item">3</div>
  <div class="dropdown">
    <span>Mouse over me</span>
    <div class="dropdown-content">
      <div class="item">1</div>
      <div class="item">2</div>
      <div class="item">3</div>
    </div>
  </div>

</div>
