.editCss {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  p {
    margin: 0;
  }

  .selector {
    display: flex;
    p {
      margin: 0 10px 0 10px;
      border: 1px solid aqua;
      background: aliceblue;
      padding: 0 10px 0 10px;
      cursor: pointer;
    }
  }
}

.flex-list {
  display: flex;
  gap: 1rem;
  list-style: none;
  flex-wrap: nowrap; //wrap mexri kapou
}

.flex-list li {
  //   flex-grow: 1;
  flex-shrink: 0; //dont sqqash, overflow, dont shrink
}

.active {
  background-color: blue;
}
