.dropdown-content {
  width: 14rem;
  padding: 0.5rem 0;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgb(64 64 64 / 15%);
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.button {
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 6px;
  border: 1px solid rgb(64 64 64 / 15%);
  box-shadow: 0 10px 20px rgb(64 64 64 / 15%);
  font-family: inherit;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: #f3f4f5;
}

.dropdown-item {
  padding: 0.5rem 1rem;
  font-family: inherit;
  background-color: white;
  border: none;
  cursor: pointer;
  outline: none;
}

.dropdown-item:hover {
  background-color: #f3f4f5;
}

//example 2
.example-overlay {
  width: 200px;
  border: solid 1px darkgreen;
  border-radius: 5px;
  background: lightgrey;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.example-overlay > li {
  list-style-type: none;
  border-bottom: solid 1px #8b8b8b;
  padding: 8px 0;
}

.example-overlay > li:last-child {
  border-bottom: none;
}

///333333333333
///
.menu-panel {
  border: solid 3px #ccc;
  background: #fff;
  padding: 10px;
}
